@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/Cocogoose.woff');
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Regular.woff');
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Bold.woff');
  font-weight: 700;
}

.lato-reg {
  font-family: 'lato', sans-serif;
}

.lato-bold {
  font-family: 'lato', sans-serif;
  font-weight: 700;
}

.cocogoose {
  font-family: 'cocogoose', sans-serif;
}
