* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'cocogoose';
  src: url("../fonts/Cocogoose.woff");
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/Lato-Regular.woff");
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/Lato-Bold.woff");
  font-weight: 700;
}

.lato-reg {
  font-family: 'lato';
}

.lato-bold {
  font-family: 'lato';
  font-weight: 700;
}

.cocogoose {
  font-family: 'cocogoose';
}

.bg-black {
  background-color: #272a31;
}

.text-black {
  color: #272a31;
}

.bg-red {
  background-color: #ec5242;
}

.text-red {
  color: #ec5242;
}

.bg-grey {
  background-color: #d3d3d3;
}

.text-grey {
  color: #d3d3d3;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.p-0 {
  padding: 0rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.p-1 {
  padding: 0.25rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.p-2 {
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.p-3 {
  padding: 0.75rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.p-4 {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.p-5 {
  padding: 1.25rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.p-6 {
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.p-7 {
  padding: 1.75rem;
}

@media screen and (min-width: 768px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .p-lg-6 {
    padding: 1.5rem;
  }
  .p-lg-7 {
    padding: 1.75rem;
  }
}

.m-0 {
  margin: 0rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-1 {
  margin: 0.25rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-2 {
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-3 {
  margin: 0.75rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-4 {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-5 {
  margin: 1.25rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-6 {
  margin: 1.5rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-7 {
  margin: 1.75rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-8 {
  margin: 2rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-9 {
  margin: 2.25rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-10 {
  margin: 2.5rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-11 {
  margin: 2.75rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.m-12 {
  margin: 3rem;
}

@media screen and (min-width: 768px) {
  .m-lg-0 {
    margin: 0rem;
  }
  .m-lg-1 {
    margin: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .m-lg-3 {
    margin: 0.75rem;
  }
  .m-lg-4 {
    margin: 1rem;
  }
  .m-lg-5 {
    margin: 1.25rem;
  }
  .m-lg-6 {
    margin: 1.5rem;
  }
  .m-lg-7 {
    margin: 1.75rem;
  }
  .m-lg-8 {
    margin: 2rem;
  }
  .m-lg-9 {
    margin: 2.25rem;
  }
  .m-lg-10 {
    margin: 2.5rem;
  }
  .m-lg-11 {
    margin: 2.75rem;
  }
  .m-lg-12 {
    margin: 3rem;
  }
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.justify-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-self-flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-items-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-self-flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-space-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-space-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-items-space-evenly {
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.bold {
  font-weight: 700;
}

.bigger {
  font-size: 150%;
}

.smaller {
  font-size: 70%;
}

.transparent {
  background: transparent;
}

.w-100 {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.s-30 {
  width: 30px;
  height: 30px;
}

button.menu-btn + div {
  display: none;
  top: -10px;
}

button.menu-btn:hover + div,
button.menu-btn:active + div,
button.menu-btn:focus + div,
div.nav-menu:hover,
div.nav-menu:active,
div.nav-menu:focus {
  display: block;
}

.border-none {
  border: none;
}

@media screen and (min-width: 768px) {
  .d-flex-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-block-lg {
    display: block;
  }
  .d-none-lg {
    display: none;
  }
  .d-inline-lg {
    display: inline;
  }
  .entrance {
    top: 0;
  }
  .justify-center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .align-items-center-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .justify-flex-end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .align-items-flex-end-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .justify-flex-start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .align-items-flex-start-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bigger-lg {
    font-size: 150%;
  }
}
/*# sourceMappingURL=style.css.map */