$colors: (black: #272a31, red: #ec5242, grey: #d3d3d3);
@import 'reset';

@each $color, $code in $colors {
  .bg-#{$color} {
    background-color: $code;
  }

  .text-#{$color} {
    color: $code;
  }
}

$displays : (flex, block, none, inline);
@mixin display($list, $screen) {
  @each $type in $list{
    .d-#{$type}#{$screen} {
      display: $type;
    }
  }
}

@include display($displays, '');

@mixin generator($class, $times, $type){
  @for $i from 1 to $times + 1 {
    .#{$class}-#{$i} {
      #{$type}: 0.25rem * $i;
    }
    @media screen and (min-width: 768px) {
      @for $i from 1 to $times + 1 {
        .#{$class}-lg-#{$i} {
          #{$type}: 0.25rem * $i;
        }
      }
    }
  }
}

@include generator(p, 5, padding);
@include generator(m, 5, margin);

.transparent {
  background: transparent;
}

.w-100 {
  width: 100%;
}

.s-30 {
  width: 30px;
  height: 30px;
}

.entrance {
  background: url("../images/programmer-1653351.svg");
  opacity: 0.3;
  height: 500px;
  position: relative;
  top: -35px;
}

@media screen and (min-width:768px){
  @include display($displays, '-lg');
  .entrance {
    top: 0;
  }
}
